@using Radzen.Blazor

<div id="form">
    <h3 class="text_style">Change Password</h3>

    <RadzenTemplateForm Data="Model">
        <label for="new-password" class="label_style text_style">Old Password</label>
        <br />
        <RadzenPassword id="new-password" Name="new-password" Placeholder="Password" class="input_style" @bind-Value="Model.OldPassword" />
        <br />
        <label for="old-password" class="label_style text_style">New Password</label>
        <br />
        <RadzenPassword id="old-password" Name="new-password" Placeholder="Password" class="input_style" @bind-Value="Model.NewPassword" />
    </RadzenTemplateForm>
</div>

