#form {
    width: 500px;
}

div#top_panel_style {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

div#top_side_panel_style {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text_style {
    font-weight: bold;
    background: linear-gradient(to right, var(--color-text), var(--color-text-highlight), var(--color-text));
    background-clip: text;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    will-change: background-position;
    animation: shine 1s linear infinite;
}

label.label_style {
    margin-left: 10px;
}

@keyframes shine {
    to {
        background-position: 200% center;
    }
}

input[type="color"].color_style {
    margin: 5px;
    border: solid 2px var(--color-border);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    background: none;
    cursor: pointer;
}

input[type="color"].color_style::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color_line_style {
    display: flex;
    align-items: center;
}

button.button_style {
    border-radius: var(--radius-md);
    border-style: solid;
    border-width: 2px;
    background-color: var(--color-secondary);
    border-color: var(--color-border-alt);
    color: var(--color-text-alt);
    padding: 1px 4px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

button.button_style:hover {
    background-color: var(--color-secondary-hover);
    border-color: var(--color-border-active);
}

button.button_style:active {
    background-color: var(--color-secondary-hover);
    border-color: var(--color-border-active);
}